/*global*/
body {
  display: block;
  background-color: #ffffff;
  padding: 0;
  /*font*/
  font-family: Helvetica;
  font-size: 18px;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

/*header section*/ /*done*/

header {
  color: #ffffff;
  background-color: #000000;
}
header .container {
  display: flex;
  align-items: center;
  padding: .75rem 0;
}
header img {
  height: 1.5rem;
  padding-left: .5rem;
  border: none;
}
header span {
  font-size: 1rem;
  padding: .66rem 0 .66rem 1rem;
}

/*banner*/ /*done*/

.banner {
  height: 25rem;
  background-image: url(/users/imac/desktop/secretagentsupply/resources/images/moto.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.headline {
  background-color: #000000;
  color: #ffffff;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem; /*offset from natural position*/
}
.headline h4 {
  font-size: 1rem;
  padding-bottom: .25rem;
}
.headline h1 {
  font-size: 2rem;
}

/*navigation section*/ /*done*/

nav {
  background-color: #b22222;
  color: #ffffff;
}
nav .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75rem .5rem;
}
@media only screen and (min-width: 1024px){
  nav .tablet-size{
    display: none;
  }
}
@media only screen and (max-width: 1024px){
  nav .container{
    display: none;
  }
  nav .tablet-size{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75rem .5rem;
  }
}

/*products section*/ /*done*/

.products {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0rem;
}
.product {
  width: 30%;
}
.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: solid 4px #000000;
}
.product-img img{
  max-width: 8rem;
}
.product span{
  display: block;
  padding: 0.5rem;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}

/*info section*/ /*done*/

.contact-info {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}
.info {
  width: 35%;
}
.info span{
  display: block;
  padding: 1rem 2rem;
  text-align: center;
  border-right: solid 4px #000000;
  border-left: solid 4px #000000;
  border-bottom: solid 4px #000000;
}
.info .title {
  display: block;
  padding: 1rem 2rem;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}

/*footer section*/ /*done*/

footer{
  background-color: #000000;
  color: #ffffff;
  padding: 5rem .5rem;
  margin-top: 4rem;
}
